/*-----------------------------------------------------------------------------------
	    .竹縣2.icloud
        Built with Blocs
-----------------------------------------------------------------------------------*/
 
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow-x:hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xxl{
	padding:200px 50px;
}
.bloc-xl{
	padding:150px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
.navbar-dark .nav .dropdown-menu .nav-link{
	color: rgb(64, 64, 64);
}
/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: rgb(64, 64, 64);
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 40px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}




/* = Cards
-------------------------------------------------------------- */
.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
	width:100%;
	display:inline-block;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
	padding:0;
}




/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.row-margin-top{
	margin-top:0px;
}
.bloc-0-margin-top{
	margin-top:1px;
}
.h5-style{
	margin-bottom:41px;
	margin-top:0px;
	letter-spacing:3px;
}
.bloc-0-bloc-1-margin-top{
	margin-top:55px;
}
.h5-margin-top{
	margin-top:0px;
}
.h5-浪漫山林音樂會-style{
	font-family:Lato;
	font-weight:900;
}
.h5-潮青草地音樂會-style{
	font-family:Lato;
	font-weight:900;
}
.h5-炫音星夜演唱會-style{
	font-family:Lato;
	font-weight:900;
}
.bloc-margin-bottom{
	margin-bottom:52px;
}
.team-card{
	min-height:350px;
}
.h5-青鳥合唱團-style{
	width:100%;
}
.card-body-style{
	width:100%;
}
.bloc-bloc-5-margin-bottom{
	margin-bottom:-14px;
	margin-top:21px;
}
.h5-bloc-5-margin-top{
	width:100%;
}
.h5-秋戀合興星夜野餐日-margin-bottom{
	margin-bottom:29px;
}
.h5-秋藝關西河岸電影院-margin-bottom{
	margin-bottom:29px;
}
.h5-秋月峨眉秘境營火夜-margin-bottom{
	margin-bottom:29px;
}
.h3-夜間活動-margin-bottom{
	margin-bottom:33px;
}
.h6-margin-top{
	margin-top:25px;
	font-size:16px;
	width:100%;
}
.row-bloc-12-margin-top{
	margin-top:50px;
}
.row-bloc-13-margin-top{
	margin-top:50px;
}
.row-28-margin-top{
	margin-top:50px;
}
.p-margin-bottom{
	margin-bottom:23px;
	font-family:Ubuntu;
	font-weight:900;
	letter-spacing:1px;
	font-size:px;
}
.img-margin-top{
	margin-top:1px;
}
.h4-style{
	font-family:Lato;
	font-weight:900;
}
.row-bloc-音樂會-潮青草地-margin-top{
	margin-top:120px;
}
.h5-margin-bottom{
	margin-bottom:13px;
	letter-spacing:1px;
}
.row-bloc--音樂會-炫音星夜-margin-top{
	margin-top:0px;
}
.img-bloc--音樂會-炫音星夜-margin-top{
	margin-top:1px;
	width:478px;
}
.img-bloc-音樂會-潮青草地-margin-top{
	margin-top:0px;
}
.row-bloc-音樂會-浪漫山林-margin-top{
	margin-top:-1px;
}
.container-div-margin-top{
	margin-top:75px;
}
.row-bloc-音樂會-margin-bottom{
	margin-bottom:-28px;
}
.row-bloc-音樂會-margin-top{
	margin-top:0px;
}
.navbar-brand img{
	width:200px;
}
.bloc-26443-margin-top{
	margin-top:-2px;
}
.row-bloc-1-margin-top{
	margin-top:10px;
	margin-bottom:36px;
}
.link-style{
	font-weight:bold;
}
.btn-點我看更多-style{
	font-weight:bold;
}
.btn-6-style{
	font-weight:bold;
}
.btn-7-style{
	font-weight:bold;
}
.btn-1-style{
	font-weight:bold;
}
.btn-2-style{
	font-weight:bold;
}
.btn-3-style{
	font-weight:bold;
}
.h4-margin-bottom{
	margin-bottom:37px;
}
.link-主題市集1-style{
	font-weight:bold;
}
.h4-周邊資訊-margin-bottom{
	margin-bottom:61px;
}
.link-主題市集-style{
	font-weight:bold;
}
.link-期間活動-style{
	font-weight:bold;
}
.link-夜間活動-style{
	font-weight:bold;
}
.link-音樂會-style{
	font-weight:bold;
}
.link-周邊資訊-style{
	font-weight:bold;
}
.link-交通資訊-style{
	font-weight:bold;
	margin-right:21px;
}
.link-秋月峨眉｜秘境營火夜-style{
	font-weight:bold;
}
.link-秋藝關西｜河岸電影院-style{
	font-weight:bold;
}
.link-秋樂新豐｜親子滑雪趣-style{
	font-weight:bold;
}
.link-炫音星夜音樂會-style{
	font-weight:bold;
}
.link-潮青草地音樂會-style{
	font-weight:bold;
}
.link-主題市集3-style{
	font-weight:bold;
}
.link-主題市集2-style{
	font-weight:bold;
}
.bloc-bloc-期間活動-margin-top{
	margin-top:-32px;
}
.p-bloc-期間活動-margin-top{
	margin-top:33px;
}
.p-3-margin-top{
	margin-top:33px;
}
.link-0-style{
	font-weight:bold;
}
.link-0-音樂會-style{
	font-weight:bold;
}
.link-0-夜間活動-style{
	font-weight:bold;
}
.row-bloc-周邊資訊-margin-bottom{
	margin-bottom:53px;
}
.bloc-bloc-音樂會-潮青草地-margin-top{
	margin-top:4px;
}
.p-style{
	width:100%;
	margin-top:5px;
	font-size:14px;
}
.divider-margin-top{
	margin-top:-21px;
}
.h2-margin-top{
	margin-bottom:13px;
}
.img-style{
	width:50px;
	height:50px;
	border-radius:0px 0px 0px 0px;
}
.text-span-color{
	color:#8e8e8e;
}
.h6-bloc-音樂會-浪漫山林-style{
	letter-spacing:3px;
}
.h5-bloc-音樂會-炫音星夜-style{
	letter-spacing:5px;
}
.h3-margin-top{
	margin-top:120px;
}
.h3-炫音星夜演唱會-margin-top{
	margin-top:120px;
}
.h6-bloc-星夜野餐日-style{
	font-size:16px;
	letter-spacing:1px;
}
.divider-bloc-星夜野餐日-margin-top{
	margin-top:-21px;
}
.h6-bloc-河岸電影院-style{
	letter-spacing:1px;
}
.h6-bloc-秘境營火夜-style{
	letter-spacing:1px;
}
.divider-bloc-秘境營火夜-margin-top{
	margin-top:-21px;
}
.divider-bloc-河岸電影院-margin-top{
	margin-top:-21px;
}
.h5-秋月峨眉｜秘境營火夜-margin-top{
	margin-top:-1px;
}
.icon-margin-top{
	margin-top:4px;
}
.p-bloc-交通-音樂會-style{
	line-height:20px;
	margin-top:10px;
	width:100%;
}
.p-margin-top{
	margin-top:10px;
}
.img-自駕-icon-100-style{
	width:50px;
	height:50px;
}
.row-bloc-交通-音樂會-margin-top{
	margin-top:22px;
}
.bloc-bloc-交通-音樂會-margin-top{
	margin-top:-104px;
}
.img-bloc-navbar-style{
	width:20px;
	height:20px;
	margin-top:3px;
}
.img-3-style{
	height:27px;
	width:27px;
}
.img-icons8-line-1-style{
	width:31px;
}
.bloc-margin-top{
	margin-top:6px;
}
.bloc-bloc-navbar-margin-top{
	margin-top:5px;
}
.img-資產-1-2x-100-margin-top{
	margin-top:28px;
}
.h6-bloc-交通-音樂會-margin-top{
	margin-top:22px;
}
.h6-37-margin-top{
	margin-top:15px;
}
.h6-39-margin-top{
	margin-top:17px;
}
.p-bloc-旅宿活動-margin-top{
	margin-top:-9px;
	font-size:15px;
}
.h6-bloc-旅宿活動-margin-top{
	margin-top:52px;
}
.p-28-margin-top{
	margin-top:-9px;
	font-size:15px;
}
.h6-margin-bottom{
	margin-bottom:12px;
}
.h3-margin-bottom{
	margin-bottom:11px;
}
.h3-星夜市集-margin-bottom{
	margin-bottom:11px;
}
.h6-bloc-12-margin-bottom{
	margin-bottom:13px;
}
.bloc-0-bloc-夜間活動-margin-top{
	margin-top:0px;
}
.bloc-1257-margin-top{
	margin-top:0px;
}
.h6-bloc-親子滑雪趣-margin-top{
	font-size:14px;
	width:100%;
	font-family:"helvetica";
	margin-top:1px;
}
.p-bloc-河岸電影院-style{
	font-size:12px;
}
.row-35-margin-top{
	margin-top:48px;
}
.btn-margin-left{
	margin-left:-15px;
}
.h5-bloc-旅宿活動-margin-top{
	margin-top:-40px;
	margin-bottom:49px;
}
.bloc-bloc-夜間活動-margin-top{
	margin-top:15px;
}
.row-bloc-親子滑雪趣-margin-top{
	margin-top:39px;
}
.h5-秋藝關西｜河岸電影院-margin-top{
	margin-top:0px;
}
.h5-秋戀合興｜星夜野餐日-margin-top{
	margin-top:0px;
}
.h5-秋樂新豐｜親子滑雪趣-margin-top{
	margin-top:39px;
}
.h5-秋樂關西｜萬聖遊樂園-margin-top{
	margin-top:38px;
}
.img-滑雪去去-margin-top{
	margin-top:0px;
	height:204px;
}
.img-margin-bottom{
	margin-bottom:31px;
	width:400px;
	height:400px;
}
.btn-商圈優惠資訊-margin-top{
	margin-top:0px;
	margin-left:32px;
}
.img-picnic-margin-top{
	margin-top:0px;
	height:202px;
	width:300px;
}
.img-bloc-親子滑雪趣-style{
	width:513px;
}
.row-bloc-11-margin-top{
	margin-top:48px;
}
.row-23-margin-top{
	margin-top:30px;
}
.img-p12647-style{
	width:400px;
}
.h5--橫山民俗文物館前廣場-margin-top{
	margin-top:2px;
}
.h5-汽車電影院-margin-top{
	margin-bottom:8px;
}
.h6-style{
	font-size:14px;
}
.h5-河岸電影院-margin-top{
	margin-bottom:8px;
}
.img-campi-style{
	width:300px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-lapis-lazuli{
	background-color:rgba(30,99,134,0.88);
}

/* Text colour styles */

.tc-lapis-lazuli{
	color:rgba(30,99,134,0.88)!important;
}
.tc-gray-htmlcss-gray{
	color:#7B7B7B!important;
}
.tc-white{
	color:#FFFFFF!important;
}
.tc-outer-space{
	color:#424242!important;
}

/* Button colour styles */

.btn-lapis-lazuli{
	background:rgba(30,99,134,0.88);
	color:#FFFFFF!important;
}
.btn-lapis-lazuli:hover{
	background:#184f6b!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-white{
	color:#FFFFFF!important;
}
.ltc-white:hover{
	color:#cccccc!important;
}
.ltc-white-2{
	color:#FFFFFF!important;
}
.ltc-white-2:hover{
	color:#cccccc!important;
}

/* Icon colour styles */

.icon-lapis-lazuli{
	color:rgba(30,99,134,0.88)!important;
	border-color:rgba(30,99,134,0.88)!important;
}

/* Bloc image backgrounds */

.bg-資產-202-2x-100{
	background-image:url("img/資產%202@2x-100.jpg");
}
.bg-手機-20Banner-2x-100{
	background-image:url("img/手機%20Banner@2x-100.jpg");
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.h5-style{
		font-family:Montserrat;
	}
	.bloc-bloc-夜間活動-margin-top{
		margin-top:39px;
	}
	.h2-margin-top{
		margin-top:30px;
	}
	.h2-秋戀合興｜星夜野餐日-margin-top{
		margin-top:31px;
	}
	.h2-秋藝關西｜河岸電影院-margin-top{
		margin-top:29px;
	}
	.h2-秋月峨眉｜秘境營火夜-margin-top{
		margin-top:27px;
	}
	.h3-margin-bottom{
		margin-top:30px;
	}
	.h3-星夜市集-margin-bottom{
		margin-top:32px;
	}
	.btn-margin-top{
		margin-top:0px;
	}
	.h6-秋樂新豐．親子滑雪趣-margin-top{
		margin-top:42px;
	}
	.h6-bloc-空拍攝影比賽-margin-top{
		margin-top:24px;
	}
	.h4-margin-bottom{
		margin-bottom:0px;
	}
	
}

@media (max-width: 767px){
	.text-right{
	}
	.text-left{
	}
	.text-center{
	}
	
}

@media (max-width: 575px){
	.bloc-bloc-navbar-margin-top{
		margin-top:14px;
	}
	.card-margin-top{
		margin-top:28px;
	}
	.card-bloc-音樂會-margin-top{
		margin-top:36px;
	}
	.h4-style{
		margin-top:31px;
	}
	.bloc-bloc-潮青卡司-margin-top{
		margin-top:14px;
	}
	.bloc-bloc--炫音卡司-margin-top{
		margin-top:16px;
	}
	.bloc-bloc-浪漫卡司-margin-top{
		margin-top:16px;
	}
	.h5-秋戀合興｜星夜野餐日-margin-top{
		margin-top:70px;
	}
	.h5-秋藝關西｜河岸電影院-margin-top{
		margin-top:46px;
	}
	.h5-秋月峨眉｜秘境營火夜-margin-top{
		margin-top:44px;
	}
	.h2-margin-top{
		margin-top:23px;
		width:100%;
	}
	.h2-秋戀合興｜星夜野餐日-margin-top{
		margin-top:23px;
	}
	.h2-秋藝關西｜河岸電影院-margin-top{
		margin-top:23px;
	}
	.h2-秋月峨眉｜秘境營火夜-margin-top{
		margin-top:23px;
	}
	.h4-margin-top{
		margin-top:25px;
	}
	.h4-協辦單位-margin-top{
		margin-top:32px;
	}
	.h6-bloc-音樂會-浪漫山林-style{
		font-size:15px;
		letter-spacing:3px;
		opacity:0.3;
	}
	.p-margin-bottom{
		margin-top:24px;
		margin-bottom:16px;
	}
	.h3-margin-bottom{
		margin-top:33px;
	}
	.h3-星夜市集-margin-bottom{
		margin-top:21px;
	}
	.btn-bloc-親子滑雪趣-margin-left{
		margin-left:-17px;
		margin-top:7px;
	}
	.h5-汽車電影院-margin-top{
		margin-top:10px;
	}
	.btn-margin-top{
		margin-top:13px;
	}
	.h6-秋樂新豐．親子滑雪趣-margin-top{
		margin-top:41px;
	}
	.h6-margin-top{
		margin-top:16px;
	}
	.img-bloc-親子滑雪趣-margin-top{
		margin-top:47px;
	}
	.img-margin-bottom{
		height:300px;
		width:300px;
	}
	.h6-38-margin-top{
		margin-top:28px;
	}
	.h5-河岸電影院-margin-top{
		margin-top:10px;
		width:100%;
	}
	.h5--竹北水圳森林公園-margin-top{
		margin-top:0px;
	}
	.bloc-bloc-河岸電影院-margin-top{
		margin-top:24px;
	}
	.h4-星空下的皮皮獅-margin-top{
		margin-top:30px;
	}
	.bloc-bloc-夜間活動-margin-top{
		margin-top:-20px;
	}
	.p-bloc-夜間活動-margin-top{
		margin-top:25px;
		margin-bottom:-8px;
	}
	.p-bloc-夜間活動-margin-bottom{
		margin-bottom:10px;
	}
	.divider-margin-top{
		margin-top:-31px;
		margin-bottom:-9px;
	}
	.h4-銀河星鑽-margin-top{
		margin-top:35px;
	}
	.h6-bloc-星夜森林-margin-bottom{
		margin-bottom:-2px;
	}
	.img-bloc-11-margin-top{
		margin-top:-64px;
	}
	
}

