/*-----------------------------------------------------------------------------------
	    竹縣2
        Built with Blocs
-----------------------------------------------------------------------------------*/
 
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow-x:hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xxl{
	padding:200px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: rgb(64, 64, 64);
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 40px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}




/* = Cards
-------------------------------------------------------------- */
.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
	width:100%;
	display:inline-block;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
	padding:0;
}




/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.row-margin-top{
	margin-top:0px;
}
.bloc-0-margin-top{
	margin-top:1px;
}
.h5-style{
	margin-bottom:41px;
	margin-top:0px;
}
.p-margin-top{
	margin-top:11px;
}
.bloc-0-bloc-1-margin-top{
	margin-top:55px;
}
.h5-浪漫山林音樂會-style{
	font-family:Lato;
	font-weight:900;
}
.h5-潮青草地音樂會-style{
	font-family:Lato;
	font-weight:900;
}
.h5-炫音星夜演唱會-style{
	font-family:Lato;
	font-weight:900;
}
.bloc-margin-bottom{
	margin-bottom:52px;
}
.team-card{
	min-height:350px;
}
.h3-margin-bottom{
	margin-bottom:9px;
}
.h5-青鳥合唱團-style{
	width:100%;
}
.card-body-style{
	width:100%;
}
.bloc-bloc-5-margin-bottom{
	margin-bottom:-14px;
	margin-top:21px;
}
.h5-bloc-5-margin-top{
	width:100%;
}
.h5-秋戀合興星夜野餐日-margin-bottom{
	margin-bottom:29px;
}
.h5-秋藝關西河岸電影院-margin-bottom{
	margin-bottom:29px;
}
.h5-秋月峨眉秘境營火夜-margin-bottom{
	margin-bottom:29px;
}
.h3-夜間活動-margin-bottom{
	margin-bottom:33px;
}
.h6-margin-top{
	margin-top:25px;
}
.row-bloc-12-margin-top{
	margin-top:50px;
}
.row-bloc-13-margin-top{
	margin-top:50px;
}
.row-28-margin-top{
	margin-top:50px;
}
.h2-style{
	font-family:Lato;
	font-weight:900;
	margin-top:0px;
}
.p-margin-bottom{
	margin-bottom:13px;
	font-family:Ubuntu;
	font-weight:900;
}
.img-margin-top{
	margin-top:199px;
}
.h4-style{
	font-family:Lato;
	font-weight:900;
}
.row-bloc-音樂會-潮青草地-margin-top{
	margin-top:-1px;
}
.h5-margin-bottom{
	margin-bottom:13px;
}
.row-bloc--音樂會-炫音星夜-margin-top{
	margin-top:2px;
}
.h3-style{
	font-family:Lato;
	font-weight:900;
}
.h5-bloc--音樂會-炫音星夜-margin-bottom{
	margin-bottom:13px;
}
.img-bloc--音樂會-炫音星夜-margin-top{
	margin-top:220px;
}
.img-bloc-音樂會-潮青草地-margin-top{
	margin-top:216px;
}
.row-bloc-音樂會-浪漫山林-margin-top{
	margin-top:-144px;
}
.container-div-margin-top{
	margin-top:75px;
}
.row-bloc-音樂會-margin-bottom{
	margin-bottom:-28px;
}
.row-bloc-音樂會-margin-top{
	margin-top:0px;
}
.navbar-brand img{
	width:200px;
}
.bloc-26443-margin-top{
	margin-top:26px;
}
.row-bloc-1-margin-top{
	margin-top:10px;
	margin-bottom:36px;
}
.link-星夜音樂會-style{
	font-weight:bold;
}
.link-音樂會-style{
	font-weight:bold;
}
.link-夜間活動-style{
	font-weight:bold;
}
.link-周邊資訊-style{
	font-weight:bold;
}
.link-交通資訊-style{
	font-weight:bold;
}
.h6-style{
	letter-spacing:1px;
}
.text-span-color{
	color:#ffffff;
}
.img-style{
	width:20px;
	height:20px;
}
.h4-margin-top{
	margin-top:52px;
}
.text-span-bloc-主題市集-color{
	color:#ffffff;
}
.row-bloc-主題市集-margin-top{
	margin-top:30px;
}
.row-margin-bottom{
	margin-bottom:29px;
	margin-top:15px;
}
.h6-bloc-主題市集-style{
	line-height:22px;
}
.h3-margin-top{
	margin-top:0px;
}
.divider-margin-top{
	margin-top:-21px;
	margin-bottom:-9px;
}
.divider-bloc-星夜野餐日-margin-top{
	margin-top:-21px;
	margin-bottom:-9px;
}
.h6-bloc-河岸電影院-style{
	width:100%;
}
.text-span-bloc-河岸電影院-color{
	color:#FF2600!important;
}
.divider-bloc-河岸電影院-margin-top{
	margin-top:-21px;
}
.divider-0-margin-top{
	margin-top:-21px;
}
.h6-秋樂關西．萬聖遊樂園-margin-top{
	margin-top:49px;
}
.row-bloc-周邊資訊-margin-top{
	margin-top:14px;
}
.row-35-margin-top{
	margin-top:72px;
}
.link-style{
	font-weight:bold;
}
.link-潮青草地音樂會-style{
	font-weight:bold;
}
.link-炫音星空音樂會-style{
	font-weight:bold;
}
.img-自駕-icon-100-style{
	width:50px;
	height:50px;
}
.img-停車ic-style{
	width:50px;
	height:50px;
}
.h4-星夜音樂會｜交通資訊-margin-top{
	margin-top:48px;
}
.p-bloc-17-margin-top{
	margin-top:10px;
}
.p-38-margin-top{
	margin-top:10px;
}
.h4-bloc-17-margin-top{
	margin-top:80px;
}
.link-星夜森林-style{
	font-weight:bold;
}
.link-0-style{
	font-weight:bold;
}
.link-0-炫音星空音樂會-style{
	font-weight:bold;
}
.link-0-星夜森林-style{
	font-weight:bold;
}
.link-秋樂新豐｜親子滑雪趣-style{
	font-weight:bold;
}
.link-秋戀合興｜星夜野餐日-style{
	font-weight:bold;
}
.link-秋藝竹縣｜星空電影院-style{
	font-weight:bold;
}
.link-秋藝竹縣｜汽車電影院-style{
	font-weight:bold;
}
.link-秋月峨眉｜秘境營火夜-style{
	font-weight:bold;
}
.link-秋藝關西｜萬聖遊樂園-style{
	font-weight:bold;
}
.link-0-秋藝竹縣｜汽車電影院-style{
	font-weight:bold;
}
.link-0-秋月峨眉｜秘境營火夜-style{
	font-weight:bold;
}
.link-0-秋藝關西｜萬聖遊樂園-style{
	font-weight:bold;
}
.h5-margin-top{
	margin-top:47px;
}
.h5-潮青草地音樂會-margin-top{
	margin-top:42px;
}
.h5-bloc-6-margin-top{
	margin-top:42px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-teal-blue{
	background-color:#3A7594;
}

/* Text colour styles */

.tc-teal-blue{
	color:#3A7594!important;
}
.tc-white{
	color:#FFFFFF!important;
}
.tc-gray-htmlcss-gray{
	color:#7B7B7B!important;
}

/* Button colour styles */

.btn-teal-blue{
	background:#3A7594;
	color:#FFFFFF!important;
}
.btn-teal-blue:hover{
	background:#2e5e76!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-white{
	color:#FFFFFF!important;
}
.ltc-white:hover{
	color:#cccccc!important;
}

/* Icon colour styles */

.icon-teal-blue{
	color:#3A7594!important;
	border-color:#3A7594!important;
}

/* Bloc image backgrounds */

.bg-0911-20秋遊星夜季-邀請卡-W15-5xH10-5cm-ol-工作區域-202{
	background-image:url("img/0911%20秋遊星夜季_邀請卡_W15.5xH10.5cm_ol_工作區域%202.png");
}
.bg-資產-202-2x-100{
	background-image:url("img/資產%202@2x-100.jpg");
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.h5-style{
		font-family:Montserrat;
	}
	
}

@media (max-width: 767px){
	.text-right{
	}
	.text-left{
	}
	.text-center{
	}
	
}

@media (max-width: 575px){
	.bloc-bloc-navbar-margin-top{
		margin-top:14px;
	}
	.h2-style{
		margin-top:23px;
	}
	.card-margin-top{
		margin-top:28px;
	}
	.card-bloc-音樂會-margin-top{
		margin-top:36px;
	}
	.h4-style{
		margin-top:31px;
	}
	.bloc-bloc-潮青卡司-margin-top{
		margin-top:14px;
	}
	.h3-style{
		margin-top:34px;
	}
	.bloc-bloc--炫音卡司-margin-top{
		margin-top:16px;
	}
	.bloc-bloc-浪漫卡司-margin-top{
		margin-top:16px;
	}
	.h5-秋戀合興｜星夜野餐日-margin-top{
		margin-top:70px;
	}
	.h5-秋藝關西｜河岸電影院-margin-top{
		margin-top:46px;
	}
	.h5-秋月峨眉｜秘境營火夜-margin-top{
		margin-top:44px;
	}
	.h2-margin-top{
		margin-top:23px;
		width:100%;
	}
	.h2-秋戀合興｜星夜野餐日-margin-top{
		margin-top:23px;
	}
	.h2-秋藝關西｜河岸電影院-margin-top{
		margin-top:23px;
	}
	.h2-秋月峨眉｜秘境營火夜-margin-top{
		margin-top:23px;
	}
	.bloc-margin-top{
		margin-top:19px;
	}
	.h4-星空下的皮皮獅-margin-top{
		margin-top:19px;
	}
	.h3-星夜市集-margin-top{
		margin-top:23px;
	}
	.p-style{
		font-size:14px;
	}
	.p-bloc-星夜野餐日-style{
		font-size:14px;
	}
	.p-18-style{
		font-size:14px;
	}
	.p-19-style{
		font-size:14px;
	}
	.p-20-style{
		font-size:14px;
	}
	.h6-bloc-河岸電影院-style{
		font-size:14px;
	}
	.p-bloc-河岸電影院-style{
		font-size:14px;
	}
	.p-28-style{
		font-size:14px;
	}
	.h6-50-style{
		font-size:14px;
	}
	.p-29-style{
		font-size:14px;
	}
	.p-31-style{
		font-size:14px;
	}
	.p-30-style{
		font-size:14px;
	}
	.h6-53-style{
		font-size:14px;
	}
	.p-32-style{
		font-size:14px;
	}
	.h6-bloc-13-style{
		font-size:14px;
	}
	.p-bloc-13-style{
		font-size:14px;
	}
	.p-42-style{
		font-size:14px;
	}
	.h6-秋樂新豐．親子滑雪趣-margin-top{
		margin-top:25px;
	}
	.h6-秋樂關西．萬聖遊樂園-margin-top{
		margin-top:47px;
	}
	.text-span-bloc-空拍比賽-color{
		color:#ffffff;
	}
	.bloc-bloc-交通資訊-margin-top{
		margin-top:22px;
	}
	.bloc-0-bloc-交通資訊-margin-top{
		margin-top:18px;
	}
	.bloc-26207-margin-top{
		margin-top:11px;
	}
	.bloc-bloc-18-margin-top{
		margin-top:10px;
	}
	.bloc-bloc-19-margin-top{
		margin-top:17px;
	}
	.bloc-0-bloc-19-margin-top{
		margin-top:5px;
	}
	.bloc-44470-margin-top{
		margin-top:7px;
	}
	.bloc-35108-margin-top{
		margin-top:12px;
	}
	.p-38-style{
		font-size:14px;
	}
	.p-39-style{
		font-size:14px;
	}
	.p-40-style{
		font-size:14px;
	}
	.p-41-style{
		font-size:14px;
	}
	.p-49002-style{
		font-size:14px;
	}
	.p-51-style{
		font-size:14px;
	}
	.p-52-style{
		font-size:14px;
	}
	.p-53-style{
		font-size:14px;
	}
	
}

